$color-black: #000000;
$color-black-2: #0000000F;
$color-blue: #4280EB;
$color-blue-2: #6097F5;
$color-blue-3: #396288;
$color-blue-4: #0084FF;
$color-blue-5: #22D9F6;
$color-blue-6: #2647EB;
$color-blue-7: #22F6E0;
$color-dark-blue: #0B2136;
$color-gray: #7795A6;
$color-gray-2: #9099A2;
$color-gray-3: #657A8E;
$color-gray-4: #A7A7A7;
$color-gray-5: #6C7C86;
$color-gray-6: #585858;
$color-gray-7: #E6E5E5;
$color-gray-8: #BCBFC2;
$color-gray-9: #262626;
$color-gray-10: #707070;
$color-gray-11: #90A2B4;
$color-gray-12: #DEDEDE;
$color-gray-13: #545454;
$color-gray-14: #858585;
$color-gray-15: #6E6E6E;
$color-gray-16: #232323;
$color-gray-17: #A8AFB7;
$color-gray-18: #A2A6AA;
$color-gray-19: #77818A;
$color-gray-20: #B6CBE3;
$color-gray-21: #7C828D;
$color-gray-22: #CCCCCC;
$color-gray-23: #78818B;
$color-green: #E8FFEA;
$color-green-2: #60BC9D;
$color-green-3: #27BFBF;
$color-green-4: #42BB5E;
$color-green-5: #43D97A;
$color-light-gray: #ECECEC;
$color-light-gray-2: #E1E5EA;
$color-light-gray-3: #E2E2E2;
$color-light-gray-4: #FAFAFA;
$color-light-gray-5: #FBFBFB;
$color-orange: #EEA21D;
$color-orange-2: #EBBD26;
$color-purple: #BF22F6;
$color-purple-2: #9B7FBF;
$color-red: #D53333;
$color-red-2: #FFE6E6;
$color-red-3: #C20000;
$color-red-4: #EB2633;
$color-white: #FFFFFF;
